* {
    box-sizing: border-box;
}

body {

}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 0px;
    margin: 0px;
}

aside {

}

section {

}

aside {

}

footer {
    
}